<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmWK2bRxqkU4VEkDXwNU5i7csZ6MTYXjo</string>
	<key>GCM_SENDER_ID</key>
	<string>339076737248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VinamraKaushal.Login-Out-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>login-out-69218</string>
	<key>STORAGE_BUCKET</key>
	<string>login-out-69218.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339076737248:ios:45601b883d200009dc8885</string>
</dict>
</plist>